{% extends 'app/base_template.html' %}
{% load static %}
<!-- start block title -->
{% block title %}  বিস্তারিত ||  অামাদের সেবা {% endblock %}
<!-- end block title -->


<!-- start block body -->
{% block body %}
<section class="main_section">
    <div class="container">
        <div class="row">
             <div class="col-lg-3">
            <div class="single_widget">
               <aside>
                    <h3 class="widgetTitle">Sale Products</h3>
                    <div class="widgetBody">
                        <div class="topRatedProducts">
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/1.jpg' %}" alt="">
                                <h3><a href="shop_single.html">FASHION LADIES BAG</a></h3>
                                <p class="pricess">$90.00 &nbsp;<del>$100.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/2.jpg' %}" alt="">
                                <h3><a href="shop_single.html">Trendy women T-Shirt</a></h3>
                                <p class="pricess">$96.00 &nbsp;<del>$125.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/3.jpg' %}" alt="">
                                <h3><a href="shop_single.html">FASHION Mens Hats</a></h3>
                                <p class="pricess">$60.00 &nbsp;<del>$70.00</del></p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
             <div class="ads">
                   <img src="{% static 'image/promo.png' %}">
               </div>
               <div class="ads">
                     <img src="{% static 'image/1.png' %}">
                 </div>
            </div>
            <div class="col-lg-6">
                       <div class="projects">
                           <h2>{{single_post.name}}</h2>
                           <img src="/media/{{single_post.image}}" alt="">
                       </div>
                       <div class="row">
                           <div class="col-lg-6">
                               <p>মডেল: {{single_post.model}}</p>
                               <p>ফোনের মূল্য/দাম: {{single_post.price}}</p>
                               <p>ফোনের কন্ডিশন: {{single_post.condition}}</p>
                               <p>ফোনের ব্র্যান্ড: {{single_post.brand}}</p>
                               <p>ফোনের ক্যাটাগরি: {{single_post.category}}</p>
                           </div>
                           <div class="col-lg-6">
                               <p>ঠিকানা: {{single_post.address}}</p>
                               <p>কন্টাক নাম্বার: {{single_post.phone_number}}</p>
                               <p>বিভাগ: {{single_post.division}}</p>
                               <p>দাম আলোচনা সাপেক্ষে {{single_post.negotiable}}</p>
                               <p>তারিখ : {{single_post.create_at}}</p>
                           </div>
                       </div>
                       <h3>
                       ফোনের সম্পকে বিস্তারিত
                       </h3>
                       <p>
                         {{single_post.description}}
                       </p>
                       <br/><br/><br/>
                       <h3>রিলেটেড প্রোডাক্ট গুলো</h3>
                       <br/>
                       <div class="row">
                         {% for related in related_project %}
                           <div class="col-lg-6">
                               <div class="page-subheader">
                                   <h2><a href="{% url 'Details_product' related.id %}">{{related.name}}</a></h2>
                               </div>
                               <img src="/media/{{related.image}}" alt="">
                           </div>
                           {% endfor %}
                       </div>
                   </div>
            <div class="col-lg-3">
              <div class="single_widget">
                <aside>
                <h3 class="widgetTitle">Category</h3>
                <div class="widgetBody">
                    <ul>
                        {% for item in category_obj %}
                        <li><a href="#">{{item.name}}</a><span>(03)</span></li>
                        {% endfor %}
                    </ul>
                </div>
                </aside>
            </div>

            <div class="single_widget">
               <aside>
                    <h3 class="widgetTitle">Sale Products</h3>
                    <div class="widgetBody">
                        <div class="topRatedProducts">
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/1.jpg' %}"/>
                                <h3><a href="shop_single.html">FASHION LADIES BAG</a></h3>
                                <p class="pricess">$90.00 &nbsp;<del>$100.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/2.jpg' %}"/>
                                <h3><a href="shop_single.html">Trendy women T-Shirt</a></h3>
                                <p class="pricess">$96.00 &nbsp;<del>$125.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/3.jpg' %}"/>
                                <h3><a href="shop_single.html">FASHION Mens Hats</a></h3>
                                <p class="pricess">$60.00 &nbsp;<del>$70.00</del></p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="single_widget">
                <aside>
                <h3 class="widgetTitle">Brands</h3>
                <div class="widgetBody">
                    <ul>
                        <li><a href="#">Black &amp; White</a><span>(03)</span></li>
                        <li><a href="#">Caterpillar</a><span>(05)</span></li>
                        <li><a href="#">Dozil</a><span>(10)</span></li>
                        <li><a href="#">Eleep Biz</a><span>(20)</span></li>
                        <li><a href="#">Kelvin Clin</a><span>(06)</span></li>
                    </ul>
                </div>
                </aside>
            </div>

            <div class="single_widget">
               <aside>
                    <h3 class="widgetTitle">Sale Products</h3>
                    <div class="widgetBody">
                        <div class="topRatedProducts">
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/1.jpg' %}"/>
                                <h3><a href="shop_single.html">FASHION LADIES BAG</a></h3>
                                <p class="pricess">$90.00 &nbsp;<del>$100.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/2.jpg' %}"/>
                                <h3><a href="shop_single.html">Trendy women T-Shirt</a></h3>
                                <p class="pricess">$96.00 &nbsp;<del>$125.00</del></p>
                            </div>
                            <div class="singleProductsa">
                                <img src="{% static 'image/gallery/3.jpg' %}"/>
                                <h3><a href="shop_single.html">FASHION Mens Hats</a></h3>
                                <p class="pricess">$60.00 &nbsp;<del>$70.00</del></p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
